<div class="panel panel-default" id="<%= stop_id %>" >
  <div class="panel-body">
    <!-- The content - bus predictions -->
    <div id="header_<%= stop_id %>"></div>

    <div class="col-md-offset-1">
      <div id="destination_<%= stop_id %>"></div>
    </div>
  </div>
</div>

  <%= javascript_include_tag 'cta_schedule/BusSpecific/bus_schedule.js'  %>
<script>
  var TablePrediction = <%=raw @bus_prediction.to_json %>;
  ConstructTable(TablePrediction, <%= stop_id %>, "<%= line %>");
</script>
