<!-- For each favorite -->
<div class="col-md-6">
  <div class="panel panel-default favorite_panel" id="<%= favorite.station_id %>">
    <div class="panel-body">
      <i class="fa fa-heart favorite_box_homepage fa-lg added_favorite" onclick="add_remove_Favorite(<%= favorite.station_id %>, this, '<%= favorite.type_transp %>', '<%= favorite.route_id %>')"></i>

      <div class="panel-header" id="header_<%= favorite.station_id %>" style="">
        <h4><%= @line_name[favorite.id] %></h4>
        <h5 style="margin-bottom: 0px;"><%= @time_departure[favorite.id] %></h5>
      </div>
      <div class="col-md-12">
        <!-- If the favorite is a bus -->
        <% if favorite.type_transp == "bus" %>
          <%=raw @text_of_predictions_bus[favorite.id] %>

        <!-- If the favorite is a train -->
        <% elsif favorite.type_transp == "train" %>
            <div id="destination_1">
              <% if @text_of_predictions_train_1[favorite.id] != '' %>
                <h5><%= @direction_1 %></h5>
                <%=raw @text_of_predictions_train_1[favorite.id] %>
              <% end %>
            </div>
            <div id="destination_5">
              <% if @text_of_predictions_train_5[favorite.id] != '' %>
                <h5><%= @direction_5 %></h5>
                <%=raw @text_of_predictions_train_5[favorite.id] %>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
