<!-- This page show all bus stations for a specific line -->

<div class="container">
  <h1><%= @line.route_long_name %> </h1>

  <div class="row" id="all_schedule">
    <div class="col-md-12">

      <% # Dirnb only helps me not to have an error because some stations for different directions have the same stop ID (Which shouldn't be possible, but those stations doesn't look to work anyway - problem of the CTA API) %>
      <% dirnb = 1 %>

      <% @stations.each do |dir, stations| %>
        <div class="col-md-6">
          <h3><%= dir %></h3>
          <% stations["bustime_response"]["stop"].each do |station| %>
            <div class="row">
              <div class="col-md-offset-1">
                <a href="#" onclick="ShowSchedule(<%= dirnb.to_s + station["stpid"] %>, <%= @line.route_id %>)">
                  <h5><%= station["stpnm"] %></h5>
                </a>
              </div>
              <div class="col-md-10">
                  <div class="panel panel-default hidden_div" id="<%= dirnb.to_s + station["stpid"] %>">

                    <div class="panel-body">
                        <!-- All the icons -->
                      <i class="fa fa-heart favorite_box fa-lg <%= logged_in? ? bus_favorite?(station["stpid"]) : '' %>" onclick="add_remove_Favorite(<%= station["stpid"] %>, this, 'bus','<%= @line.route_id %>')"></i>
                      <i class="fa fa-times close_box fa-lg" onclick="ShowSchedule(<%= dirnb.to_s + station["stpid"] %>, <%= @line.route_id %>)"></i>
                      <i class="fa fa-refresh refresh_box fa-lg" onclick="AjaxFetch(<%= dirnb.to_s + station["stpid"] %>)"></i>

                      <!-- The content - bus predictions -->
                      <div id="header_<%= dirnb.to_s + station["stpid"] %>"><%= station["stpnm"] %></div>

                      <div class="col-md-offset-1">
                        <div id="destination_<%= dirnb.to_s + station["stpid"] %>"></div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
        <% dirnb = dirnb + 1 %>
      <% end %>
    </div>
  </div>
</div>
  <!-- LOAD PAGE SPECIFIC JAVASCRIPT -->
  <%= javascript_include_tag 'cta_schedule/BusSpecific/bus_schedule.js'  %>
  <%= javascript_include_tag 'cta_schedule/AddRemoveFavorite.js'  %>

  <script>
    $("#all_schedule").on('click', 'a', false);
  </script>


