<div class="container">

  <!-- SEARCH INPUT -->
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <span class="input">
        <input class="input__field" type="text" id="search" placeholder="Type any bus or train line..."
         onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type any bus or train line...'" />
         <!-- maybe to add later <span class="glyphicon glyphicon-remove" id="delete" aria-hidden="true"></span> -->
      </span>
    </div>
  </div>

  <!-- STATIONS NEAR MY ADDRESS -->
  <div class="row directions_link">
    <div class="col-md-offset-2 col-md-8">
      <div class="text-center">
        <a class="link-customized underlined" href="/directions"><h4>Or look for a direction!</h4></a>
      </div>
    </div>
  </div>

  <!-- RESULTS of SEARCH -->
  <div class="row">
    <div id="lines_searched" class="col-md-offset-2 col-md-8">
      <div id="trains"></div>
      <div id="bus"></div>
    </div>
  </div>

  <!-- Favorites -->
  <div clas="row">
    <div id="favorites" class="col-md-offset-2 col-md-8">
      <!--  IF LOGGED IN -->
      <% if logged_in? %>
        <div class="text-center">
          <h3> Your favorites</h3>
        </div>

        <!-- For each favorites -->
        <% @favorites.each do |favorite| %>
          <!-- Favorites -->
          <div class="col-md-6">
            <div class="panel panel-default favorite_panel" id="<%= favorite.station_id %>">
              <div class="panel-body">
                <i class="fa fa-heart favorite_box_homepage fa-lg added_favorite" onclick="add_remove_Favorite(<%= favorite.station_id %>, this, '<%= favorite.type_transp %>', '<%= favorite.route_id %>')"></i>

                <div class="panel-header" id="header_<%= favorite.station_id %>" style="">
                  <h4><%= @line_name[favorite.id] %></h4>
                  <h5 style="margin-bottom: 0px;"><%= @time_departure[favorite.id] %></h5>
                </div>
                <div class="col-md-12">
                  <!-- If the favorite is a bus -->
                  <% if favorite.type_transp == "bus" %>
                    <%=raw @text_of_predictions_bus[favorite.id] %>

                  <!-- If the favorite is a train -->
                  <% elsif favorite.type_transp == "train" %>
                      <div id="destination_1">
                        <% if @text_of_predictions_train_1[favorite.id] != '' %>
                          <h5><%= @direction_1 %></h5>
                          <%=raw @text_of_predictions_train_1[favorite.id] %>
                        <% end %>
                      </div>
                      <div id="destination_5">
                        <% if @text_of_predictions_train_5[favorite.id] != '' %>
                          <h5><%= @direction_5 %></h5>
                          <%=raw @text_of_predictions_train_5[favorite.id] %>
                        <% end %>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <!-- IF  NOT LOGGED IN -->
        <div class="text-center">
          <h3> Have your favorite routes here! </h3>
          <h4> Register or login now!</h4>
        </div>
      <% end %>
    </div>
  </div>

</div>

<!-- LOAD PAGE SPECIFIC JAVASCRIPT -->
<%= javascript_include_tag 'cta_schedule/HomeSpecific/AjaxSearch.js'  %>
<%= javascript_include_tag 'cta_schedule/AddRemoveFavorite.js'  %>
