<div class="container">
  <h1><%= @line.route_long_name %> </h1>

  <div class="row" id="all_schedule">
    <div class="col-md-12">
      <% @stations.each do |station| %>
        <div class="row">
          <div class="col-md-offset-1 col-md-5">
            <a href="#" onclick="ShowSchedule(<%= station.MAP_ID %>)">
              <h5><%= station.STATION_NAME %></h5>
            </a>
          </div>
          <div class="col-md-6">
              <div class="panel panel-default hidden_div" id="<%= station.MAP_ID %>">
                <div class="panel-body">
                  <i class="fa fa-heart favorite_box fa-lg <%= logged_in? ? train_favorite?(station) : '' %>" onclick="add_remove_Favorite(<%= station.MAP_ID %>, this, 'train', '<%= @line.route_id %>')"></i>
                  <i class="fa fa-times close_box fa-lg" onclick="ShowSchedule(<%= station.MAP_ID %>)"></i>
                  <i class="fa fa-refresh refresh_box fa-lg" onclick="AjaxFetch(<%= station.MAP_ID %>)"></i>

                  <div class="panel-header" id="header_<%= station.MAP_ID %>"></div>
                  <div class="col-md-offset-1">
                    <div id="destination_1_<%= station.MAP_ID %>"></div>
                    <div id="destination_5_<%= station.MAP_ID %>"></div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<!-- LOAD PAGE SPECIFIC JAVASCRIPT -->
  <%= javascript_include_tag 'cta_schedule/TrainSpecific/train_schedule.js'  %>
  <%= javascript_include_tag 'cta_schedule/AddRemoveFavorite.js'  %>

<script>
  $("#all_schedule").on('click', 'a', false);
</script>

